@font-face {
    font-family: surviv;
    src: url(Jura-Bold.ttf);
  }
div#head {
font-family: surviv, Impact;
background-color: darkgrey;
text-align: center;
display: block;
}

img#logo {
margin: 10px;
border-radius: 10px;
border: solid;
border-width: 1px;
}